main {
    padding: 6rem 4rem;
}


.loop__main-interative-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.interactive {
    clip-path: polygon(0 21%, 0 0, 35% 0%, 65% 0%, 100% 0, 100% 25%, 100% 41%, 73% 41%, 73% 100%, 35% 100%, 0 100%, 0 51%);
    width: 100%;
    height: 100%;
}

.mobileInteractive {
    display: none;
    width: 100%;
    height: 100%;
}

.loop__main-text h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: var(--josefin);
    
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.loop__main-text p {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--josefin);
    
    letter-spacing: 1px;
}

.loop__creation {
    margin-top: 6rem;
}

.creation-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    width: 96%;   
}

.creation-header-section h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: var(--josefin);
}

.creation-header-section button {
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 1px solid var(--Black);

    font-weight: 500;
    font-family: var(--josefin);
    cursor: pointer;
}

.creation-header-section button:hover {
    background-color: var(--Black);
    color: var(--White);
    transition: 0.4s ease-in-out;
}

.creation-main-section {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 1rem;
    width: 92.5%;
}

.creation {
    border-radius: 5px;
    cursor: pointer;
}

.creation:hover {
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}



.creation-para {
    margin-top: 20rem;
    font-size: 25px;
    font-weight: 300;
    font-family: var(--josefin);
    color: var(--White);
    margin-bottom: 2rem;
    padding-left: 1rem;
}


.deepEarth {
    background-image: url('../../assets/desktop/image-deep-earth.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arcade {
    background-image: url('../../assets/desktop/image-night-arcade.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.soccer {
    background-image: url('../../assets/desktop/image-soccer-team.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid {
    background-image: url('../../assets/desktop/image-grid.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.above {
    background-image: url('../../assets/desktop/image-from-above.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.borealis {
    background-image: url('../../assets/desktop/image-pocket-borealis.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.curiosity {
    background-image: url('../../assets/desktop/image-curiosity.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fisheye {
    background-image: url('../../assets/desktop/image-fisheye.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1300px) {
    .interactive {
        width: 50%;
    }
    
    .loop__main-text h1 {
        font-size: 30px;
    }

    .loop__main-text p {
        font-size: 15px;
    }

    .creation-header-section {
        width: 100%;
    }

    .creation-main-section {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {

    .loop__main-interative-section {
        flex-direction: column;
        gap: 3rem;
    }

    .mobileInteractive {
        display: block;
    }

    .interactive {
        display: none;
    }

    .creation-header-section h1 {
        font-size: 30px;
    }

    .creation-main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .creation-para {
        margin-top: 10rem;
    }


    .deepEarth {
        background-image: url('../../assets/mobile/image-deep-earth.jpg');
        width: 100%;
    }

    .arcade {
        background-image: url('../../assets/mobile/image-night-arcade.jpg');
        width: 100%;
    }
    
    .soccer {
        background-image: url('../../assets/mobile/image-soccer-team.jpg');
        width: 100%;
    }
    
    .grid {
        background-image: url('../../assets/mobile/image-grid.jpg');
        width: 100%;
    }
    
    .above {
        background-image: url('../../assets/mobile/image-from-above.jpg');
        width: 100%;
    }
    
    .borealis {
        background-image: url('../../assets/mobile/image-pocket-borealis.jpg');
        width: 100%;
    }
    
    .curiosity {
        background-image: url('../../assets/mobile/image-curiosity.jpg');
        width: 100%;
    }
    
    .fisheye {
        background-image: url('../../assets/mobile/image-fisheye.jpg');
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .creation-header-section h1 {
        font-size: 30px;
    }

    .creation-para {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 550px) {
    main {
        padding: 3rem 2rem;
    }


    .loop__main-text h1 {
        font-size: 20px;
    }

    .loop__main-text p {
        font-size: 13px;
    }

    .creation-header-section h1 {
        font-size: 18px;
    }

    .creation-header-section button {
        padding: 0.3rem 1rem;
    
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .creation-header-section h1 {
        font-size: 13px;
    }

    .creation-header-section button {
        padding: 0.3rem 1rem;
        font-size: 8px;
    }

    .creation-para {
        margin-top: 2rem;
        font-size: 15px;
    }
}

